@import url("./global.css");
@import url("./app.css");

@import url("./background.css");
@import url("./panel.css");
@import url("./form.css");
@import url("./transactions.css");
@import url("./modal.css");
@import url("./button.css");
@import url("./badge.css");
@import url("./loading.css");